body {
    height: 100vh;
    background: linear-gradient(135deg, #f3e7ff, #e3d4f3, #d6c2e1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

p {
    text-align: center;
    font-size: 40px;
    color: #700172;
    letter-spacing: 1px;
}